@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');
@import "tailwindcss";

@theme{
    --color-lightest-green: #effef5;
    --color-light-green: #d9ffe9;
    --color-normal-green: #0aaf54;
    --color-dark-green: #0c8945;
    --color-darkest-green: #0f5832;
};

*{
    font-family: "Manrope", sans-serif;
}